@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 425px) {
  .container {
    max-width: 400px;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media only screen and (min-width: 1800px) {
  .container {
    max-width: 1700px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1800px;
  }
}

.common-h2 {
  font-size: 26px;
}
@media only screen and (min-width: 576px) {
  .common-h2 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .common-h2 {
    font-size: 31px;
  }
}
@media only screen and (min-width: 992px) {
  .common-h2 {
    font-size: 34px;
  }
}
@media only screen and (min-width: 1200px) {
  .common-h2 {
    font-size: 37px;
  }
}
@media only screen and (min-width: 1400px) {
  .common-h2 {
    font-size: 41px;
  }
}
@media only screen and (min-width: 1800px) {
  .common-h2 {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1920px) {
  .common-h2 {
    font-size: 48px;
  }
}

.common-h3 {
  font-weight: 700;
  font-size: 22px;
}
@media only screen and (min-width: 576px) {
  .common-h3 {
    font-size: 23px;
  }
}
@media only screen and (min-width: 768px) {
  .common-h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .common-h3 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .common-h3 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1400px) {
  .common-h3 {
    font-size: 27px;
  }
}
@media only screen and (min-width: 1800px) {
  .common-h3 {
    font-size: 29px;
  }
}
@media only screen and (min-width: 1920px) {
  .common-h3 {
    font-size: 30px;
  }
}

li {
  list-style: none;
  font-size: 19px;
}
@media only screen and (min-width: 576px) {
  li {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  li {
    font-size: 21px;
  }
}
@media only screen and (min-width: 992px) {
  li {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  li {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1400px) {
  li {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1800px) {
  li {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1920px) {
  li {
    font-size: 26px;
  }
}

.common-lp {
  font-size: 19px;
  line-height: 21px;
  font-weight: 400;
}
@media only screen and (min-width: 576px) {
  .common-lp {
    font-size: 20px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 768px) {
  .common-lp {
    font-size: 21px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .common-lp {
    font-size: 22px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 1200px) {
  .common-lp {
    font-size: 23px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1400px) {
  .common-lp {
    font-size: 24px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 1800px) {
  .common-lp {
    font-size: 25px;
    line-height: 38px;
  }
}
@media only screen and (min-width: 1920px) {
  .common-lp {
    font-size: 26px;
    line-height: 40px;
  }
}

.common-sp {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 15px;
}
@media only screen and (min-width: 576px) {
  .common-sp {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .common-sp {
    font-size: 17px;
  }
}
@media only screen and (min-width: 992px) {
  .common-sp {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .common-sp {
    font-size: 19px;
  }
}
@media only screen and (min-width: 1400px) {
  .common-sp {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  .common-sp {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1920px) {
  .common-sp {
    font-size: 22px;
  }
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  background-color: #f9b62f;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 9px;
}
@media only screen and (min-width: 576px) {
  .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media only screen and (min-width: 768px) {
  .btn {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .btn {
    border-radius: 10px;
  }
}
@media only screen and (min-width: 1400px) {
  .btn {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
  }
}
@media only screen and (min-width: 1800px) {
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
  }
}
@media only screen and (min-width: 1920px) {
  .btn {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.btn a {
  font-size: 18px;
  font-weight: 500;
  color: #7b5500;
}
@media only screen and (min-width: 768px) {
  .btn a {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .btn a {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1200px) {
  .btn a {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1400px) {
  .btn a {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1800px) {
  .btn a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1920px) {
  .btn a {
    font-size: 25px;
  }
}

.l-btn {
  height: 45px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a6dfb;
  color: #febf32;
  font-size: 25px;
  border-radius: 14px;
}
@media only screen and (min-width: 768px) {
  .l-btn {
    width: 48px;
    height: 50px;
    border-radius: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .l-btn {
    width: 53px;
    height: 55px;
    border-radius: 16px;
    font-size: 27px;
  }
}
@media only screen and (min-width: 1200px) {
  .l-btn {
    width: 54px;
    height: 56px;
    border-radius: 16px;
    font-size: 29px;
  }
}
@media only screen and (min-width: 1400px) {
  .l-btn {
    width: 59px;
    height: 60px;
    border-radius: 18px;
    font-size: 33px;
  }
}
@media only screen and (min-width: 1800px) {
  .l-btn {
    width: 63px;
    height: 65px;
    border-radius: 20px;
    font-size: 36px;
  }
}
@media only screen and (min-width: 1920px) {
  .l-btn {
    width: 68px;
    height: 70px;
    border-radius: 23px;
    font-size: 40px;
  }
}

.s-btn {
  height: 41px;
  width: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a6dfb;
  color: #febf32;
  font-size: 21px;
  border-radius: 14px;
}
@media only screen and (min-width: 768px) {
  .s-btn {
    width: 44px;
    height: 44px;
    border-radius: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .s-btn {
    width: 47px;
    height: 47px;
    border-radius: 16px;
    font-size: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  .s-btn {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 1400px) {
  .s-btn {
    width: 53px;
    height: 53px;
    border-radius: 18px;
    font-size: 27px;
  }
}
@media only screen and (min-width: 1800px) {
  .s-btn {
    width: 56px;
    height: 56px;
    border-radius: 20px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1920px) {
  .s-btn {
    width: 60px;
    height: 60px;
    border-radius: 23px;
    font-size: 33px;
  }
}

.watch {
  font-size: 13px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .watch {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .watch {
    width: 42px;
    height: 42px;
  }
}
@media only screen and (min-width: 992px) {
  .watch {
    width: 43px;
    height: 43px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .watch {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 1400px) {
  .watch {
    width: 48px;
    height: 48px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1800px) {
  .watch {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1920px) {
  .watch {
    width: 55px;
    height: 55px;
    font-size: 17px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 425px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 576px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.topber {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .topber {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1400px) {
  .topber {
    margin-top: 30px;
  }
}
.topber .top-btn {
  display: none;
}
@media only screen and (min-width: 768px) {
  .topber .top-btn {
    display: block;
  }
}
.topber .show-btn {
  font-size: 19px;
}
@media only screen and (min-width: 576px) {
  .topber .show-btn {
    font-size: 21px;
  }
}
@media only screen and (min-width: 768px) {
  .topber .show-btn {
    display: none;
  }
}

.top-logo {
  display: flex;
  align-items: center;
  column-gap: 3px;
}
@media only screen and (min-width: 425px) {
  .top-logo {
    column-gap: 4px;
  }
}
.top-logo img {
  width: 17px;
  height: 19px;
}
@media only screen and (min-width: 576px) {
  .top-logo img {
    height: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .top-logo img {
    height: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  .top-logo img {
    height: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  .top-logo img {
    height: 27px;
    width: 19px;
  }
}
@media only screen and (min-width: 1800px) {
  .top-logo img {
    height: 32px;
    width: 22px;
  }
}
@media only screen and (min-width: 1920px) {
  .top-logo img {
    height: 34px;
    width: 25px;
  }
}
.top-logo h2 {
  color: #f9b62f;
}

.menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu {
    display: block;
  }
}
.menu ul {
  display: flex;
  column-gap: 20px;
}
@media only screen and (min-width: 992px) {
  .menu ul {
    column-gap: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .menu ul {
    column-gap: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  .menu ul {
    column-gap: 50px;
  }
}
@media only screen and (min-width: 1800px) {
  .menu ul {
    column-gap: 80px;
  }
}
@media only screen and (min-width: 1920px) {
  .menu ul {
    column-gap: 110px;
  }
}

main {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  main {
    text-align: start;
  }
}
main h1 {
  font-size: 40px;
  display: flex;
  flex-flow: column wrap;
  font-weight: 700;
  line-height: 35px;
}
@media only screen and (min-width: 576px) {
  main h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 768px) {
  main h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media only screen and (min-width: 992px) {
  main h1 {
    font-size: 65px;
    line-height: 65px;
  }
}
@media only screen and (min-width: 1200px) {
  main h1 {
    font-size: 75px;
    line-height: 75px;
  }
}
@media only screen and (min-width: 1400px) {
  main h1 {
    font-size: 85px;
    line-height: 85px;
  }
}
@media only screen and (min-width: 1800px) {
  main h1 {
    font-size: 100px;
    line-height: 100px;
  }
}
@media only screen and (min-width: 1920px) {
  main h1 {
    font-size: 110px;
    line-height: 110px;
  }
}
main h1 .eating {
  color: #f9b62f;
}
main p {
  font-size: 19px;
  font-weight: 400;
  color: #d0a9fc;
}
@media only screen and (min-width: 576px) {
  main p {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) {
  main p {
    font-size: 17px;
  }
}
@media only screen and (min-width: 992px) {
  main p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  main p {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1400px) {
  main p {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1800px) {
  main p {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1920px) {
  main p {
    font-size: 26px;
  }
}
@media only screen and (min-width: 768px) {
  main p {
    display: flex;
    flex-flow: column;
  }
}

.bw-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 17px;
}
@media only screen and (min-width: 768px) {
  .bw-wrap {
    justify-content: start;
    column-gap: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .bw-wrap {
    column-gap: 35px;
  }
}
@media only screen and (min-width: 1400px) {
  .bw-wrap {
    column-gap: 37px;
  }
}
@media only screen and (min-width: 1800px) {
  .bw-wrap {
    column-gap: 40px;
  }
}
@media only screen and (min-width: 1920px) {
  .bw-wrap {
    column-gap: 45px;
  }
}
.bw-wrap .watch-wrap {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
@media only screen and (min-width: 768px) {
  .bw-wrap .watch-wrap {
    column-gap: 8px;
  }
}
.bw-wrap .watch-wrap .watch {
  background-color: blue;
  color: #f9b62f;
}
.bw-wrap .watch-wrap h4 {
  font-weight: 600;
  font-size: 19px;
}
@media only screen and (min-width: 576px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 21px;
  }
}
@media only screen and (min-width: 992px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1400px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1800px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1920px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 26px;
  }
}

#best-program .container {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
}

#best-program {
  margin-top: 70px;
}
#best-program .content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 20px;
}
@media only screen and (min-width: 576px) {
  #best-program .content {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
#best-program .content div:first-child {
  display: flex;
  column-gap: 10px;
}
#best-program .content div:first-child h2 {
  color: #6a5399;
}
#best-program .content div:last-child {
  display: flex;
  column-gap: 10px;
}
@media only screen and (min-width: 992px) {
  #best-program .content div:last-child {
    column-gap: 13px;
  }
}
@media only screen and (min-width: 1920px) {
  #best-program .content div:last-child {
    column-gap: 17px;
  }
}
#best-program .content div:last-child .arrow {
  border: 3px solid #e8e3ea;
  color: #9a6dfb;
}

.healty-card {
  display: flex;
  flex-flow: row wrap;
  background-color: #9a6dfb;
}
.healty-card .card-1 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .healty-card .card-1 {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .healty-card .card-1 {
    width: 33%;
  }
}
@media only screen and (min-width: 1800px) {
  .healty-card .card-1 {
    width: 25%;
  }
}
.healty-card .card .l-btn {
  border: 3px solid #d0a9fc;
  background-color: #6a5399;
}
.healty-card .card h3 {
  font-size: 20px;
}
@media only screen and (min-width: 576px) {
  .healty-card .card h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) {
  .healty-card .card h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .healty-card .card h3 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .healty-card .card h3 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1400px) {
  .healty-card .card h3 {
    font-size: 31px;
  }
}
@media only screen and (min-width: 1800px) {
  .healty-card .card h3 {
    font-size: 33px;
  }
}
@media only screen and (min-width: 1920px) {
  .healty-card .card h3 {
    font-size: 35px;
  }
}
.healty-card .card p {
  color: #d0a9fc;
}
.healty-card .card-2 {
  text-align: center;
  display: none;
}
.healty-card .card-2 .l-btn {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 576px) {
  .healty-card .card-2 {
    display: block;
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .healty-card .card-2 {
    width: 33%;
  }
}
@media only screen and (min-width: 1800px) {
  .healty-card .card-2 {
    width: 25%;
  }
}
@media only screen and (min-width: 992px) {
  .healty-card .card-3 {
    display: block;
    width: 33%;
  }
}
@media only screen and (min-width: 1800px) {
  .healty-card .card-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 1800px) {
  .healty-card .card-4 {
    display: block;
    width: 25%;
  }
}

#get-started .content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #9356fb;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  outline: whitesmoke solid 10px;
  border-radius: 20px;
}
#get-started .content .l-btn {
  border: 3px solid #d0a9fc;
  background-color: #6a5399;
}
#get-started .content h2 {
  color: white;
}
#get-started .content h2 span {
  color: #f9b62f;
}
#get-started .content p {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  #get-started .content p {
    display: flex;
  }
}
#get-started .content .btn {
  margin-top: 10px;
}

#about-us .content {
  display: flex;
  flex-flow: column wrap;
}
@media only screen and (min-width: 768px) {
  #about-us .content {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  #about-us .content .img-wrap {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  #about-us .content .content-wrap {
    width: 50%;
  }
}

.testimonial {
  padding: 10px;
}
.testimonial .icon-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 3px;
}
@media only screen and (min-width: 425px) {
  .testimonial .icon-wrap {
    column-gap: 6px;
  }
}
@media only screen and (min-width: 576px) {
  .testimonial .icon-wrap {
    column-gap: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .testimonial .icon-wrap {
    column-gap: 12px;
  }
}
@media only screen and (min-width: 1400px) {
  .testimonial .icon-wrap {
    column-gap: 14px;
  }
}
@media only screen and (min-width: 1800px) {
  .testimonial .icon-wrap {
    column-gap: 16px;
  }
}
@media only screen and (min-width: 1920px) {
  .testimonial .icon-wrap {
    column-gap: 18px;
  }
}
.testimonial .icon-wrap h2 {
  color: #6a5399;
}
.testimonial p {
  text-align: justify;
  display: block;
  margin-top: 10px;
  color: #9188a3;
}

.rara-sanchez {
  background-color: #e8e3ea;
  padding: 10px;
  border-radius: 8px;
  margin-top: 25px;
}
@media only screen and (min-width: 576px) {
  .rara-sanchez {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .rara-sanchez {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  .rara-sanchez {
    margin-top: 47px;
  }
}
@media only screen and (min-width: 1800px) {
  .rara-sanchez {
    margin-top: 58px;
  }
}
@media only screen and (min-width: 1920px) {
  .rara-sanchez {
    margin-top: 60px;
  }
}
.rara-sanchez .s-btn {
  margin-top: -25px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .rara-sanchez .s-btn {
    margin-top: -29px;
  }
}
@media only screen and (min-width: 992px) {
  .rara-sanchez .s-btn {
    margin-top: -35px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .rara-sanchez .s-btn {
    margin-top: -39px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .rara-sanchez .s-btn {
    margin-top: -43px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  .rara-sanchez .s-btn {
    margin-top: -46px;
    margin-bottom: 23px;
  }
}
@media only screen and (min-width: 1800px) {
  .rara-sanchez .s-btn {
    margin-top: -47px;
  }
}
@media only screen and (min-width: 768px) {
  .rara-sanchez {
    padding: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .rara-sanchez {
    padding: 20px;
  }
}
.rara-sanchez p {
  font-style: italic;
  font-weight: 600;
  color: #9188a3;
}
.rara-sanchez h3 {
  color: #9356fb;
  margin-top: 8px;
}
@media only screen and (min-width: 576px) {
  .rara-sanchez h3 {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .rara-sanchez h3 {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1400px) {
  .rara-sanchez h3 {
    margin-top: 17px;
  }
}
@media only screen and (min-width: 1800px) {
  .rara-sanchez h3 {
    margin-top: 20px;
  }
}

.freelancer-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.freelancer-wrap p {
  font-style: normal;
}
.freelancer-wrap .arrow-wrap {
  display: flex;
  flex-flow: row wrap;
}

#foot-wrap {
  background-image: linear-gradient(to right, white, #f2e9fa, white);
  margin-top: 40px;
}
@media only screen and (min-width: 576px) {
  #foot-wrap {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 768px) {
  #foot-wrap {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 992px) {
  #foot-wrap {
    margin-top: 70px;
  }
}
@media only screen and (min-width: 1400px) {
  #foot-wrap {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1800px) {
  #foot-wrap {
    margin-top: 110px;
  }
}

#contact {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 576px) {
  #contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 992px) {
  #contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  #contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1800px) {
  #contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 1920px) {
  #contact {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.contact-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "left left" "about movement" "company support";
  grid-row-gap: 20px;
}
.contact-wrap ul {
  display: flex;
  row-gap: 7px;
  flex-flow: column wrap;
  margin-top: 7px;
}
@media only screen and (min-width: 992px) {
  .contact-wrap ul {
    row-gap: 10px;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-wrap ul {
    row-gap: 12px;
  }
}
@media only screen and (min-width: 1800px) {
  .contact-wrap ul {
    row-gap: 18px;
  }
}
@media only screen and (min-width: 1920px) {
  .contact-wrap ul {
    row-gap: 20px;
  }
}
.contact-wrap ul li a {
  color: #9188a3;
}
.contact-wrap ul li:first-child {
  margin-bottom: 2px;
}
@media only screen and (min-width: 768px) {
  .contact-wrap ul li:first-child {
    margin-bottom: 4px;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-wrap ul li:first-child {
    margin-bottom: 6px;
  }
}
@media only screen and (min-width: 1920px) {
  .contact-wrap ul li:first-child {
    margin-bottom: 8px;
  }
}
.contact-wrap ul li:first-child a {
  color: #6a5399;
  font-weight: 700;
  font-size: 22px;
}
@media only screen and (min-width: 576px) {
  .contact-wrap ul li:first-child a {
    font-size: 23px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-wrap ul li:first-child a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .contact-wrap ul li:first-child a {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-wrap ul li:first-child a {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-wrap ul li:first-child a {
    font-size: 27px;
  }
}
@media only screen and (min-width: 1800px) {
  .contact-wrap ul li:first-child a {
    font-size: 29px;
  }
}
@media only screen and (min-width: 1920px) {
  .contact-wrap ul li:first-child a {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "left left about movement" "company support . . ";
  }
}
@media only screen and (min-width: 1200px) {
  .contact-wrap {
    grid-template-columns: 4fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "left about movement company support";
  }
}

.contact-left {
  grid-area: left;
}
.contact-left .top-logo h2 {
  color: #9356fb;
}
.contact-left p {
  color: #9188a3;
  margin-top: 10px;
}
@media only screen and (min-width: 576px) {
  .contact-left p {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-left p {
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
  }
}

.about {
  grid-area: about;
}

.movement {
  grid-area: movement;
}

.company {
  grid-area: company;
}

.support {
  grid-area: support;
}

footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 425px) {
  footer .container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media only screen and (min-width: 576px) {
  footer .container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 992px) {
  footer .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  footer .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .container {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
@media only screen and (min-width: 1800px) {
  footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1920px) {
  footer .container {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.foot-right a {
  color: #9188a3;
}

.foot-left p {
  color: #9188a3;
}

/*# sourceMappingURL=style.css.map */
