@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 425px) {
  .container {
    max-width: 400px;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media only screen and (min-width: 1800px) {
  .container {
    max-width: 1550px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1650px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

a, span, img {
  display: inline-block;
}

.btn {
  background: rgb(253, 212, 120);
  background: linear-gradient(150deg, rgb(253, 212, 120) 0%, rgb(254, 181, 14) 100%);
  padding: 12px 35px;
  border-radius: 15px;
  border: 5px solid rgba(255, 255, 255, 0.548);
  color: #835c01;
  font-size: 25px;
  font-weight: 500;
}

.common-h2 {
  font-size: 26px;
}
@media only screen and (min-width: 576px) {
  .common-h2 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .common-h2 {
    font-size: 31px;
  }
}
@media only screen and (min-width: 992px) {
  .common-h2 {
    font-size: 34px;
  }
}
@media only screen and (min-width: 1200px) {
  .common-h2 {
    font-size: 37px;
  }
}
@media only screen and (min-width: 1400px) {
  .common-h2 {
    font-size: 41px;
  }
}
@media only screen and (min-width: 1800px) {
  .common-h2 {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1920px) {
  .common-h2 {
    font-size: 48px;
  }
}

.common-h3 {
  font-weight: 700;
  font-size: 22px;
}
@media only screen and (min-width: 576px) {
  .common-h3 {
    font-size: 23px;
  }
}
@media only screen and (min-width: 768px) {
  .common-h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .common-h3 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .common-h3 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1400px) {
  .common-h3 {
    font-size: 27px;
  }
}
@media only screen and (min-width: 1800px) {
  .common-h3 {
    font-size: 29px;
  }
}
@media only screen and (min-width: 1920px) {
  .common-h3 {
    font-size: 30px;
  }
}

li {
  list-style: none;
  font-size: 19px;
}
@media only screen and (min-width: 576px) {
  li {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  li {
    font-size: 21px;
  }
}
@media only screen and (min-width: 992px) {
  li {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  li {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1400px) {
  li {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1800px) {
  li {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1920px) {
  li {
    font-size: 26px;
  }
}

.common-lp {
  font-size: 19px;
  line-height: 21px;
  font-weight: 400;
}
@media only screen and (min-width: 576px) {
  .common-lp {
    font-size: 20px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 768px) {
  .common-lp {
    font-size: 21px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .common-lp {
    font-size: 22px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 1200px) {
  .common-lp {
    font-size: 23px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1400px) {
  .common-lp {
    font-size: 24px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 1800px) {
  .common-lp {
    font-size: 25px;
    line-height: 38px;
  }
}
@media only screen and (min-width: 1920px) {
  .common-lp {
    font-size: 26px;
    line-height: 40px;
  }
}

.common-sp {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 15px;
}
@media only screen and (min-width: 576px) {
  .common-sp {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .common-sp {
    font-size: 17px;
  }
}
@media only screen and (min-width: 992px) {
  .common-sp {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .common-sp {
    font-size: 19px;
  }
}
@media only screen and (min-width: 1400px) {
  .common-sp {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  .common-sp {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1920px) {
  .common-sp {
    font-size: 22px;
  }
}

a {
  text-decoration: none;
}

.l-btn {
  height: 45px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a6dfb;
  color: #febf32;
  font-size: 25px;
  border-radius: 14px;
}
@media only screen and (min-width: 768px) {
  .l-btn {
    width: 48px;
    height: 50px;
    border-radius: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .l-btn {
    width: 53px;
    height: 55px;
    border-radius: 16px;
    font-size: 27px;
  }
}
@media only screen and (min-width: 1200px) {
  .l-btn {
    width: 54px;
    height: 56px;
    border-radius: 16px;
    font-size: 29px;
  }
}
@media only screen and (min-width: 1400px) {
  .l-btn {
    width: 59px;
    height: 60px;
    border-radius: 18px;
    font-size: 33px;
  }
}
@media only screen and (min-width: 1800px) {
  .l-btn {
    width: 63px;
    height: 65px;
    border-radius: 20px;
    font-size: 36px;
  }
}
@media only screen and (min-width: 1920px) {
  .l-btn {
    width: 68px;
    height: 70px;
    border-radius: 23px;
    font-size: 40px;
  }
}

.s-btn {
  height: 41px;
  width: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a6dfb;
  color: #febf32;
  font-size: 21px;
  border-radius: 14px;
}
@media only screen and (min-width: 768px) {
  .s-btn {
    width: 44px;
    height: 44px;
    border-radius: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .s-btn {
    width: 47px;
    height: 47px;
    border-radius: 16px;
    font-size: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  .s-btn {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 1400px) {
  .s-btn {
    width: 53px;
    height: 53px;
    border-radius: 18px;
    font-size: 27px;
  }
}
@media only screen and (min-width: 1800px) {
  .s-btn {
    width: 56px;
    height: 56px;
    border-radius: 20px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1920px) {
  .s-btn {
    width: 60px;
    height: 60px;
    border-radius: 23px;
    font-size: 33px;
  }
}

.watch {
  font-size: 13px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .watch {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .watch {
    width: 42px;
    height: 42px;
  }
}
@media only screen and (min-width: 992px) {
  .watch {
    width: 43px;
    height: 43px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .watch {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 1400px) {
  .watch {
    width: 48px;
    height: 48px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1800px) {
  .watch {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1920px) {
  .watch {
    width: 55px;
    height: 55px;
    font-size: 17px;
  }
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 425px) {
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 576px) {
  .container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

#main-wrap {
  background-color: #9356fb;
}
#main-wrap header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.topber {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.topber .top-btn {
  display: none;
}
@media only screen and (min-width: 768px) {
  .topber .top-btn {
    display: block;
  }
}
.topber .show-btn {
  font-size: 19px;
}
@media only screen and (min-width: 576px) {
  .topber .show-btn {
    font-size: 21px;
  }
}
@media only screen and (min-width: 768px) {
  .topber .show-btn {
    display: none;
  }
}

.top-logo {
  display: flex;
  align-items: center;
  column-gap: 3px;
}
@media only screen and (min-width: 425px) {
  .top-logo {
    column-gap: 4px;
  }
}
.top-logo img {
  width: 17px;
  height: 19px;
}
@media only screen and (min-width: 576px) {
  .top-logo img {
    height: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .top-logo img {
    height: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  .top-logo img {
    height: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  .top-logo img {
    height: 27px;
    width: 19px;
  }
}
@media only screen and (min-width: 1800px) {
  .top-logo img {
    height: 32px;
    width: 22px;
  }
}
@media only screen and (min-width: 1920px) {
  .top-logo img {
    height: 34px;
    width: 25px;
  }
}
.top-logo h2 {
  color: #f9b62f;
}

.menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu {
    display: block;
  }
}
.menu ul {
  display: flex;
  column-gap: 20px;
}
@media only screen and (min-width: 992px) {
  .menu ul {
    column-gap: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .menu ul {
    column-gap: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  .menu ul {
    column-gap: 50px;
  }
}
@media only screen and (min-width: 1800px) {
  .menu ul {
    column-gap: 80px;
  }
}
@media only screen and (min-width: 1920px) {
  .menu ul {
    column-gap: 110px;
  }
}

main {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  main {
    text-align: start;
  }
}
main h1 {
  font-size: 40px;
  display: flex;
  flex-flow: column wrap;
  font-weight: 700;
  line-height: 35px;
}
@media only screen and (min-width: 576px) {
  main h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 768px) {
  main h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media only screen and (min-width: 992px) {
  main h1 {
    font-size: 65px;
    line-height: 65px;
  }
}
@media only screen and (min-width: 1200px) {
  main h1 {
    font-size: 75px;
    line-height: 75px;
  }
}
@media only screen and (min-width: 1400px) {
  main h1 {
    font-size: 85px;
    line-height: 85px;
  }
}
@media only screen and (min-width: 1800px) {
  main h1 {
    font-size: 100px;
    line-height: 100px;
  }
}
@media only screen and (min-width: 1920px) {
  main h1 {
    font-size: 110px;
    line-height: 110px;
  }
}
main h1 .eating {
  color: #f9b62f;
}
main p {
  font-size: 19px;
  font-weight: 400;
  color: #d0a9fc;
}
@media only screen and (min-width: 576px) {
  main p {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) {
  main p {
    font-size: 17px;
  }
}
@media only screen and (min-width: 992px) {
  main p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  main p {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1400px) {
  main p {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1800px) {
  main p {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1920px) {
  main p {
    font-size: 26px;
  }
}
@media only screen and (min-width: 768px) {
  main p {
    display: flex;
    flex-flow: column;
  }
}

.bw-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 17px;
}
@media only screen and (min-width: 768px) {
  .bw-wrap {
    justify-content: start;
    column-gap: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .bw-wrap {
    column-gap: 35px;
  }
}
@media only screen and (min-width: 1400px) {
  .bw-wrap {
    column-gap: 37px;
  }
}
@media only screen and (min-width: 1800px) {
  .bw-wrap {
    column-gap: 40px;
  }
}
@media only screen and (min-width: 1920px) {
  .bw-wrap {
    column-gap: 45px;
  }
}
.bw-wrap .watch-wrap {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
@media only screen and (min-width: 768px) {
  .bw-wrap .watch-wrap {
    column-gap: 8px;
  }
}
.bw-wrap .watch-wrap .watch {
  background-color: blue;
  color: #f9b62f;
}
.bw-wrap .watch-wrap h4 {
  font-weight: 600;
  font-size: 19px;
}
@media only screen and (min-width: 576px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 21px;
  }
}
@media only screen and (min-width: 992px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1400px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1800px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1920px) {
  .bw-wrap .watch-wrap h4 {
    font-size: 26px;
  }
}

#best-program .container {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
}

#best-program {
  margin-top: 70px;
}
#best-program .content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 20px;
}
@media only screen and (min-width: 576px) {
  #best-program .content {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
#best-program .content div:first-child {
  display: flex;
  column-gap: 10px;
}
#best-program .content div:first-child h2 {
  color: #6a5399;
}
#best-program .content div:last-child {
  display: flex;
  column-gap: 10px;
}
@media only screen and (min-width: 992px) {
  #best-program .content div:last-child {
    column-gap: 13px;
  }
}
@media only screen and (min-width: 1920px) {
  #best-program .content div:last-child {
    column-gap: 17px;
  }
}
#best-program .content div:last-child .arrow {
  border: 3px solid #e8e3ea;
  color: #9a6dfb;
}

.healthy-card {
  background-color: #f2e8f2;
  border-radius: 20px;
}
@media only screen and (min-width: 576px) {
  .healthy-card {
    border-radius: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .healthy-card {
    border-radius: 39px;
  }
}
@media only screen and (min-width: 1400px) {
  .healthy-card {
    border-radius: 50px;
  }
}

.cardset {
  background-image: linear-gradient(to left top, #9955de, #9356fb, #b389e3);
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 18px;
  margin: 16px;
}
@media only screen and (min-width: 576px) {
  .cardset {
    margin: 18px;
    border-radius: 28px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .cardset {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .cardset {
    margin: 22px;
    border-radius: 37px;
  }
}
@media only screen and (min-width: 1400px) {
  .cardset {
    border-radius: 50px;
    padding-left: 45px;
    padding-right: 45px;
  }
}
.cardset .card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .cardset .card {
    row-gap: 8px;
  }
}
.cardset .card .l-btn {
  border: 3px solid #d0a9fc;
  background-color: #6a5399;
}
.cardset .card h3 {
  font-size: 20px;
  color: white;
}
@media only screen and (min-width: 576px) {
  .cardset .card h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) {
  .cardset .card h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .cardset .card h3 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .cardset .card h3 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1400px) {
  .cardset .card h3 {
    font-size: 31px;
  }
}
@media only screen and (min-width: 1800px) {
  .cardset .card h3 {
    font-size: 33px;
  }
}
@media only screen and (min-width: 1920px) {
  .cardset .card h3 {
    font-size: 35px;
  }
}
.cardset .card p {
  color: #d0a9fc;
}
.cardset .card:nth-child(2) {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cardset .card:nth-child(2) {
    display: flex;
  }
}
.cardset .card:nth-child(3) {
  display: none;
}
@media only screen and (min-width: 992px) {
  .cardset .card:nth-child(3) {
    display: flex;
  }
}
.cardset .card:nth-child(4) {
  display: none;
}
@media only screen and (min-width: 1400px) {
  .cardset .card:nth-child(4) {
    display: flex;
  }
}

#our-value {
  margin-top: 40px;
}
@media only screen and (min-width: 576px) {
  #our-value {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 768px) {
  #our-value {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 992px) {
  #our-value {
    margin-top: 70px;
  }
}
@media only screen and (min-width: 1400px) {
  #our-value {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1800px) {
  #our-value {
    margin-top: 110px;
  }
}
#our-value .container {
  display: flex;
  flex-flow: column wrap;
}
@media only screen and (min-width: 1200px) {
  #our-value .container {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}
#our-value .img {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  #our-value .img {
    width: 50%;
  }
}
#our-value .content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "card1" "card2" "card3" "card4" "card5";
}
@media only screen and (min-width: 576px) {
  #our-value .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "card1 card1" "card2 card3" "card4 card5";
    justify-content: space-around;
    column-gap: 25px;
  }
}
@media only screen and (min-width: 992px) {
  #our-value .content {
    row-gap: 35px;
    column-gap: 35px;
  }
}
@media only screen and (min-width: 1200px) {
  #our-value .content {
    width: 50%;
    row-gap: 45px;
    column-gap: 30px;
  }
}
#our-value .content .card {
  background-color: #f2e9fa;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 7px;
  border-radius: 35px;
}
@media only screen and (min-width: 1200px) {
  #our-value .content .card {
    align-items: start;
    text-align: start;
  }
}
@media only screen and (min-width: 1200px) {
  #our-value .content .card .s-btn {
    margin-top: -45px;
  }
}
#our-value .content .card .common-h3 {
  color: #6a5399;
}
@media only screen and (min-width: 1200px) {
  #our-value .content .card .common-h3 {
    margin-top: 15px;
  }
}
#our-value .content .card p {
  color: #9188a3;
}
@media only screen and (min-width: 1200px) {
  #our-value .content .card p {
    align-items: start;
    margin-bottom: 10px;
  }
}
#our-value .content .card:nth-child(1) {
  grid-area: card1;
  margin-bottom: 20px;
  background-color: initial;
}
@media only screen and (min-width: 1200px) {
  #our-value .content .card:nth-child(1) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  #our-value .content .card:nth-child(1) p {
    display: flex;
    flex-flow: column wrap;
  }
}
#our-value .content .card:nth-child(1) .head-wrap {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#our-value .content .card:nth-child(1) .head-wrap h2 {
  color: #6a5399;
}
@media only screen and (min-width: 1200px) {
  #our-value .content .card:nth-child(1) .head-wrap {
    align-items: start;
    flex-flow: row wrap;
    column-gap: 20px;
  }
}
#our-value .content .card:nth-child(2) {
  grid-area: card2;
}
#our-value .content .card:nth-child(3) {
  grid-area: card3;
}
#our-value .content .card:nth-child(4) {
  grid-area: card4;
}
#our-value .content .card:nth-child(5) {
  grid-area: card5;
}

#get-started {
  margin-top: 40px;
}
@media only screen and (min-width: 576px) {
  #get-started {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 768px) {
  #get-started {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 992px) {
  #get-started {
    margin-top: 70px;
  }
}
@media only screen and (min-width: 1400px) {
  #get-started {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1800px) {
  #get-started {
    margin-top: 110px;
  }
}
#get-started .content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: linear-gradient(to left top, #9955de, #9356fb, #b389e3);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  outline: #f6eaf6 solid 10px;
  border-radius: 35px;
}
@media only screen and (min-width: 576px) {
  #get-started .content {
    margin-left: 7px;
    margin-right: 7px;
    outline: #f6eaf6 solid 14px;
    border-radius: 45px;
    row-gap: 5px;
  }
}
@media only screen and (min-width: 992px) {
  #get-started .content {
    margin-left: 9px;
    margin-right: 9px;
    outline: #f6eaf6 solid 18px;
    border-radius: 55px;
    padding-left: 40px;
    padding-right: 40px;
    row-gap: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  #get-started .content {
    margin-left: 10px;
    margin-right: 10px;
    outline: #f6eaf6 solid 20px;
    border-radius: 60px;
    padding-left: 50px;
    padding-right: 50px;
    row-gap: 15px;
  }
}
@media only screen and (min-width: 1400px) {
  #get-started .content {
    margin-left: 12px;
    margin-right: 12px;
    outline: #f6eaf6 solid 24px;
    border-radius: 65px;
    padding-left: 60px;
    padding-right: 60px;
    row-gap: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  #get-started .content {
    margin-left: 15px;
    margin-right: 15px;
    outline: #f6eaf6 solid 30px;
    border-radius: 70px;
    padding-left: 80px;
    padding-right: 80px;
    row-gap: px;
  }
}
#get-started .content .l-btn {
  border: 3px solid #d0a9fc;
  background-color: #6a5399;
}
#get-started .content h2 {
  color: white;
}
#get-started .content h2 span {
  color: #f9b62f;
}
#get-started .content p {
  display: block;
  text-align: center;
  color: #d0a9fc;
}
@media only screen and (min-width: 576px) {
  #get-started .content p {
    display: flex;
  }
}
#get-started .content .btn {
  margin-top: 10px;
  border: 3px solid #d0a9fc;
}

#about-us {
  margin-top: 40px;
}
@media only screen and (min-width: 576px) {
  #about-us {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 768px) {
  #about-us {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 992px) {
  #about-us {
    margin-top: 70px;
  }
}
@media only screen and (min-width: 1400px) {
  #about-us {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1800px) {
  #about-us {
    margin-top: 110px;
  }
}
#about-us .content {
  display: flex;
  flex-flow: column wrap;
}
@media only screen and (min-width: 768px) {
  #about-us .content {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  #about-us .content .img-wrap {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  #about-us .content .content-wrap {
    width: 50%;
  }
}

.testimonial {
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .testimonial {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .testimonial {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .testimonial {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 1800px) {
  .testimonial {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.testimonial .icon-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 3px;
}
@media only screen and (min-width: 425px) {
  .testimonial .icon-wrap {
    column-gap: 6px;
  }
}
@media only screen and (min-width: 576px) {
  .testimonial .icon-wrap {
    column-gap: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .testimonial .icon-wrap {
    column-gap: 12px;
  }
}
@media only screen and (min-width: 1400px) {
  .testimonial .icon-wrap {
    column-gap: 14px;
  }
}
@media only screen and (min-width: 1800px) {
  .testimonial .icon-wrap {
    column-gap: 16px;
  }
}
@media only screen and (min-width: 1920px) {
  .testimonial .icon-wrap {
    column-gap: 18px;
  }
}
.testimonial .icon-wrap h2 {
  color: #6a5399;
}
.testimonial p {
  text-align: justify;
  display: block;
  margin-top: 10px;
  color: #9188a3;
}

.rara-sanchez {
  background-color: #e8e3ea;
  padding: 10px;
  border-radius: 8px;
  margin-top: 25px;
}
@media only screen and (min-width: 576px) {
  .rara-sanchez {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .rara-sanchez {
    padding: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .rara-sanchez {
    border-radius: 14px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .rara-sanchez {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  .rara-sanchez {
    margin-top: 47px;
    border-radius: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 1800px) {
  .rara-sanchez {
    margin-top: 58px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 28px;
  }
}
@media only screen and (min-width: 1920px) {
  .rara-sanchez {
    margin-top: 60px;
  }
}
.rara-sanchez .l-btn {
  margin-top: -25px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .rara-sanchez .l-btn {
    margin-top: -29px;
  }
}
@media only screen and (min-width: 992px) {
  .rara-sanchez .l-btn {
    margin-top: -35px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .rara-sanchez .l-btn {
    margin-top: -39px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .rara-sanchez .l-btn {
    margin-top: -43px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  .rara-sanchez .l-btn {
    margin-top: -46px;
    margin-bottom: 23px;
  }
}
@media only screen and (min-width: 1800px) {
  .rara-sanchez .l-btn {
    margin-top: -47px;
  }
}
.rara-sanchez p {
  font-style: italic;
  font-weight: 600;
  color: #9188a3;
}
.rara-sanchez h3 {
  color: #9356fb;
  margin-top: 8px;
}
@media only screen and (min-width: 576px) {
  .rara-sanchez h3 {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .rara-sanchez h3 {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1400px) {
  .rara-sanchez h3 {
    margin-top: 17px;
  }
}
@media only screen and (min-width: 1800px) {
  .rara-sanchez h3 {
    margin-top: 20px;
  }
}

.freelancer-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.freelancer-wrap p {
  font-style: normal;
}
.freelancer-wrap .arrow-wrap {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}
@media only screen and (min-width: 768px) {
  .freelancer-wrap .arrow-wrap {
    column-gap: 12px;
  }
}
@media only screen and (min-width: 1400px) {
  .freelancer-wrap .arrow-wrap {
    column-gap: 15px;
  }
}
@media only screen and (min-width: 1800px) {
  .freelancer-wrap .arrow-wrap {
    column-gap: 17px;
  }
}
.freelancer-wrap .arrow-wrap .r-shift, .freelancer-wrap .arrow-wrap .l-shift {
  background-color: white;
  font-size: 13px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .freelancer-wrap .arrow-wrap .r-shift, .freelancer-wrap .arrow-wrap .l-shift {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .freelancer-wrap .arrow-wrap .r-shift, .freelancer-wrap .arrow-wrap .l-shift {
    width: 42px;
    height: 42px;
  }
}
@media only screen and (min-width: 992px) {
  .freelancer-wrap .arrow-wrap .r-shift, .freelancer-wrap .arrow-wrap .l-shift {
    width: 43px;
    height: 43px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .freelancer-wrap .arrow-wrap .r-shift, .freelancer-wrap .arrow-wrap .l-shift {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 1400px) {
  .freelancer-wrap .arrow-wrap .r-shift, .freelancer-wrap .arrow-wrap .l-shift {
    width: 48px;
    height: 48px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1800px) {
  .freelancer-wrap .arrow-wrap .r-shift, .freelancer-wrap .arrow-wrap .l-shift {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1920px) {
  .freelancer-wrap .arrow-wrap .r-shift, .freelancer-wrap .arrow-wrap .l-shift {
    width: 55px;
    height: 55px;
    font-size: 17px;
  }
}

#foot-wrap {
  background-image: linear-gradient(to right, white, #f2e9fa, white);
  margin-top: 40px;
}
@media only screen and (min-width: 576px) {
  #foot-wrap {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 768px) {
  #foot-wrap {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 992px) {
  #foot-wrap {
    margin-top: 70px;
  }
}
@media only screen and (min-width: 1400px) {
  #foot-wrap {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1800px) {
  #foot-wrap {
    margin-top: 110px;
  }
}

#contact {
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 576px) {
  #contact {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 992px) {
  #contact {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  #contact {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1800px) {
  #contact {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media only screen and (min-width: 1920px) {
  #contact {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.contact-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "left left" "about movement" "company support";
  grid-row-gap: 20px;
}
.contact-wrap ul {
  display: flex;
  row-gap: 7px;
  flex-flow: column wrap;
  margin-top: 7px;
}
@media only screen and (min-width: 992px) {
  .contact-wrap ul {
    row-gap: 10px;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-wrap ul {
    row-gap: 12px;
  }
}
@media only screen and (min-width: 1800px) {
  .contact-wrap ul {
    row-gap: 18px;
  }
}
@media only screen and (min-width: 1920px) {
  .contact-wrap ul {
    row-gap: 20px;
  }
}
.contact-wrap ul li a {
  color: #9188a3;
}
.contact-wrap ul li:first-child {
  margin-bottom: 2px;
}
@media only screen and (min-width: 768px) {
  .contact-wrap ul li:first-child {
    margin-bottom: 4px;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-wrap ul li:first-child {
    margin-bottom: 6px;
  }
}
@media only screen and (min-width: 1920px) {
  .contact-wrap ul li:first-child {
    margin-bottom: 8px;
  }
}
.contact-wrap ul li:first-child a {
  color: #6a5399;
  font-weight: 700;
  font-size: 22px;
}
@media only screen and (min-width: 576px) {
  .contact-wrap ul li:first-child a {
    font-size: 23px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-wrap ul li:first-child a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .contact-wrap ul li:first-child a {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-wrap ul li:first-child a {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-wrap ul li:first-child a {
    font-size: 27px;
  }
}
@media only screen and (min-width: 1800px) {
  .contact-wrap ul li:first-child a {
    font-size: 29px;
  }
}
@media only screen and (min-width: 1920px) {
  .contact-wrap ul li:first-child a {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "left left about movement" "company support . . ";
  }
}
@media only screen and (min-width: 1200px) {
  .contact-wrap {
    grid-template-columns: 4fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "left about movement company support";
  }
}

.contact-left {
  grid-area: left;
}
.contact-left .top-logo h2 {
  color: #9356fb;
}
.contact-left p {
  color: #9188a3;
  margin-top: 10px;
}
@media only screen and (min-width: 576px) {
  .contact-left p {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-left p {
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
  }
}

.about {
  grid-area: about;
}

.movement {
  grid-area: movement;
}

.company {
  grid-area: company;
}

.support {
  grid-area: support;
}

footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 425px) {
  footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media only screen and (min-width: 576px) {
  footer .container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 768px) {
  footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 992px) {
  footer .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  footer .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media only screen and (min-width: 1800px) {
  footer .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 1920px) {
  footer .container {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.foot-right a {
  color: #9188a3;
}

.foot-left p {
  color: #9188a3;
}

/*# sourceMappingURL=style.css.map */
