#best-program {
    .container{
        display: flex;
        flex-flow: column wrap;
        row-gap: 30px;

        @include media($md) {
            row-gap: 60px;
        }
        @include media($mxl) {
            row-gap: 80px;
        }
    }
}
#best-program{
    margin-top: 25px;

    @include media($lg) {
        margin-top: 50px;
    }
    @include media($mxl) {
        margin-top: 70px;
    }

    .content{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        row-gap: 15px;

        @include media($sm) {
            flex-flow: row wrap;
            justify-content: space-between;
        }


        div:first-child{
            display: flex;
            column-gap: 10px;
            align-items: center;

            @include media($lg) {
                column-gap: 16px;
            }
            @include media($mxl) {
                column-gap: 20px;
            }

            .l-icon{
                width: 44px;
                height: 45px;
                background-image: linear-gradient(to bottom, #ae7de5, #8e67d3);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 14px;
                font-size: 25px;
                color: #ffdf97;

                @include media($lg) {
                    width: 53px;
                    height: 54px;
                    border-radius: 16px;
                    font-size: 30px;
                }
                @include media($mxl) {
                    width: 73px;
                    height: 75px;
                }
            }
            
            h2{
                color: $purple99;
                font-size: 25px;

                @include media($lg) {
                    font-size: 35px;
                }
                @include media($mxl) {
                    font-size: 50px;
                }
            }
        }
        div:last-child{
            display: flex;
            column-gap: 10px;

            @include media($lg) {
                column-gap: 13px;
            }
            @include media($lxl) {
                column-gap: 17px;
            }
            .arrow{
                border: 3px solid $purpleea;
                color: $purplefb;


            }
        }
    }
}
.healthy-card{
    background-color: #f6eaf8;
    border-radius: 35px;

    @include media($sm) {
        border-radius: 40px;
    }
    @include media($lg) {
        border-radius: 45px;
    }
    @include media($mxl) {
        border-radius: 70px;
    }
}
.cardset {
    background-image: linear-gradient(to left top, $purplede, $purplefbd, #b389e3);
    @include py(20px, 20px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 35px;
    margin: 13px;

    @include media($sm) {
        margin: 18px;
        border-radius: 40px;
        @include py(30px, 30px);
    }
    @include media($lg) {
        @include py(40px, 40px);
        margin: 22px;
        border-radius: 45px;
    }
    @include media($mxl) {
        border-radius: 70px;
        @include py(50px, 50px);
    }

    .card{  
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        row-gap: 10px;

        @include media($lg) {
            row-gap: 13px;
        }
        
        .l-btn{
            border: 3px solid $purplefc;
            background-color: $purple99;
        }
    
        h3{
            font-size: 20px;
            font-weight: 400;
            color: white;
    
            @include media($sm) {
                font-size: 22px;
            }
            @include media($md) {
                font-size: 24px;
            }
            @include media($lg) {
                font-size: 26px;
            }
            @include media($xl) {
                font-size: 28px;
            }
            @include media($xxl) {
                font-size: 31px;
            }
            @include media($mxl) {
                font-size: 33px;
            }
            @include media($lxl) {
                font-size: 35px;
            }
        }
    
        p{
            color: $purplefc;
        }
    }
    .card:nth-child(2) {
        display: none;

        @include media($md) {
            display: flex;
        }
    }
    .card:nth-child(3) {
        display: none;

        @include media($lg) {
            display: flex;
        }
    }
    .card:nth-child(4) {
        display: none;

        @include media($xxl) {
            display: flex;
        }
    }
}
