#best-program {
    .container{
        display: flex;
        flex-flow: column wrap;
        row-gap: 40px;
    }
}
#best-program{
    margin-top: 25px;

    @include media($lg) {
        margin-top: 50px;
    }
    @include media($mxl) {
        margin-top: 70px;
    }

    .content{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        row-gap: 20px;

        @include media($sm) {
            flex-flow: row wrap;
            justify-content: space-between;
        }


        div:first-child{
            display: flex;
            column-gap: 10px;
            
            h2{
                color: $purple99;
                font-size: 25px;

                @include media($lg) {
                    font-size: 35px;
                }
                @include media($mxl) {
                    font-size: 50px;
                }
            }
        }
        div:last-child{
            display: flex;
            column-gap: 10px;

            @include media($lg) {
                column-gap: 13px;
            }
            @include media($lxl) {
                column-gap: 17px;
            }
            .arrow{
                border: 3px solid $purpleea;
                color: $purplefb;


            }
        }
    }
}
.healthy-card{
    background-color: #f2e8f2;
    border-radius: 20px;

    @include media($sm) {
        border-radius: 30px;
    }
    @include media($lg) {
        border-radius: 39px;
    }
    @include media($xxl) {
        border-radius: 50px;
    }
}
.cardset {
    background-image: linear-gradient(to left top, $purplede, $purplefbd, #b389e3);
    @include px(25px, 25px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 18px;
    margin: 16px;

    @include media($sm) {
        margin: 18px;
        border-radius: 28px;
        @include px(30px, 30px);
    }
    @include media($md) {
        @include px(40px, 40px);
    }
    @include media($lg) {
        margin: 22px;
        border-radius: 37px;
    }
    @include media($xxl) {
        border-radius: 50px;
        @include px(45px, 45px);
    }

    .card{  
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        
        @include media($sm) {
            row-gap: 8px;
        }
        
        .l-btn{
            border: 3px solid $purplefc;
            background-color: $purple99;
        }
    
        h3{
            font-size: 20px;
            color: white;
    
            @include media($sm) {
                font-size: 22px;
            }
            @include media($md) {
                font-size: 24px;
            }
            @include media($lg) {
                font-size: 26px;
            }
            @include media($xl) {
                font-size: 28px;
            }
            @include media($xxl) {
                font-size: 31px;
            }
            @include media($mxl) {
                font-size: 33px;
            }
            @include media($lxl) {
                font-size: 35px;
            }
        }
    
        p{
            color: $purplefc;
        }
    }
    .card:nth-child(2) {
        display: none;

        @include media($md) {
            display: flex;
        }
    }
    .card:nth-child(3) {
        display: none;

        @include media($lg) {
            display: flex;
        }
    }
    .card:nth-child(4) {
        display: none;

        @include media($xxl) {
            display: flex;
        }
    }
}
