#main-wrap {
    // background-color: $purplefbd;
    background: rgb(200, 173, 246);
    background: rgb(200, 173, 246);
    background: linear-gradient(
        130deg,
        rgba(200, 173, 246, 1) 0%,
        rgba(137, 71, 243, 1) 33%,
        rgba(137, 71, 243, 1) 37%,
        rgba(137, 71, 243, 1) 45%,
        rgba(250, 150, 129, 1) 86%,
        rgba(255, 255, 255, 1) 100%
    );
    header {
        @include py(15px, 15px);
        @include media($xl) {
            @include py(25px, 25px);
        }
        @include media($mxl) {
            @include py(50px, 50px);
        }
    }
}

.topber {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @include media($lg) {
        justify-content: initial;
        align-items: initial;
    }
    .logo {
        display: flex;
        align-items: center;
        column-gap: 3px;
        order: 1;

        @include media($xs) {
            column-gap: 4px;
        }

        img {
            width: 15px;
            @include media($lg) {
                width: 20px;
                margin-right: 5px;
            }
            @include media ($mxl) {
                width: 25px;
                margin-right: 10px;
            }
           
            // width: 17px;
            // height: 19px;

            // @include media($sm) {
            //     height: 20px;
            // }
            // @include media($md) {
            //     height: 23px;
            // }
            // @include media($xl) {
            //     height: 24px;
            // }
            // @include media($xxl) {
            //     height: 27px;
            //     width: 19px;
            // }
            // @include media($mxl) {
            //     height: 32px;
            //     width: 22px;
            // }
            // @include media($lxl) {
            //     height: 34px;
            //     width: 25px;
            // }
        }
        h2 {
            color: $orange2f;
            font-size: 25px;
            @include media($lg) {
                font-size: 35px;
            }
            @include media ($mxl) {
                font-size: 50px;
            }
        }
    }
    .menu-wrap {
        order: 3;
        width: 100%;
        overflow-y: hidden;
        margin-top: 15px;
        height: 0px;
        transition: height 0.35s;
        @include media($lg) {
            overflow: initial;
            flex: 1;
            margin: 0;
            height: initial;
        }
        & > div {
            background-color: rgba(250, 150, 129, 1);
            border-radius: 10px;
            padding: 15px;
            text-align: right;
            @include media($lg) {
                background-color: transparent;
                padding: 0;
                border-radius: initial;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &.active {
            height: 206px;
            @include media($sm) {
                height: 215px;
            }
            @include media($lg) {
                height: initial;
            }
        }
    }
    .menu {
        // display: none;
        color: white;
        order: 3;
        @include media($md) {
            display: block;
        }
        @include media($lg) {
            order: 1;
            margin-left: 190px;
        }
        @include media($xl) {
            margin-left: 250px;
        }
        @include media ($xxl) {
            margin-left: 320px;
        }
        @include media ($mxl) {
            margin-left: 390px;
        }
        ul {
            // display: flex;
            column-gap: 20px;
            padding-right: 20px;
            margin-top: 10px;
            @include media($lg) {
                column-gap: 35px;
                padding-right: initial;
                margin-top: initial;
                display: flex;
            }
            @include media ($mxl) {
                column-gap: 65px;
            }
            // text-align: center;
            // @include media($lg) {
            //     column-gap: 30px;
            // }
            // @include media($xl) {
            //     column-gap: 40px;
            // }
            // @include media($xxl) {
            //     column-gap: 50px;
            // }
            // @include media($mxl) {
            //     column-gap: 80px;
            // }
            // @include media($lxl) {
            //     column-gap: 110px;
            // }
            li {
                a {
                    color: white;
                    font-size: 16px;
                    @include media($md) {
                        font-size: 18px;
                    }
                    @include media($xxl) {
                        font-size: 21px;
                    }
                    @include media($mxl) {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .top-btn {
        // display: none;
        order: 2;
        @include media($md) {
            display: block;
        }
    }
    .show-btn {
        font-size: 19px;
        order: 2;
        color: $orange2f;
        font-size: 22px;
        @include media($lg) {
            display: none;
        }
        // @include media($sm) {
        //     font-size: 21px;
        // }
        // @include media($md) {
        //     display: none;
        // }
    }
}

// Main section

main {
    text-align: center;

    @include media($md) {
        text-align: start;
    }

    h1 {
        font-size: 40px;
        display: flex;
        flex-flow: column wrap;
        font-weight: 700;
        line-height: 35px;

        @include media($sm) {
            font-size: 50px;
            line-height: 50px;
        }
        @include media($md) {
            font-size: 60px;
            line-height: 60px;
        }
        @include media($lg) {
            font-size: 65px;
            line-height: 65px;
        }
        @include media($xl) {
            font-size: 75px;
            line-height: 75px;
        }
        @include media($xxl) {
            font-size: 85px;
            line-height: 85px;
        }
        @include media($mxl) {
            font-size: 100px;
            line-height: 100px;
        }
        @include media($lxl) {
            font-size: 110px;
            line-height: 110px;
        }

        .eating {
            color: $orange2f;
        }
    }
    p {
        font-size: 19px;
        font-weight: 400;
        color: $purplefc;

        @include media($sm) {
            font-size: 22px;
        }
        @include media($md) {
            font-size: 17px;
        }
        @include media($lg) {
            font-size: 18px;
        }
        @include media($xl) {
            font-size: 23px;
        }
        @include media($xxl) {
            font-size: 24px;
        }
        @include media($mxl) {
            font-size: 25px;
        }
        @include media($lxl) {
            font-size: 26px;
        }
        @include media($md) {
            display: flex;
            flex-flow: column;
        }
    }
}

.bw-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 17px;

    @include media($md) {
        justify-content: start;
        column-gap: 30px;
    }
    @include media($lg) {
        column-gap: 35px;
    }
    @include media($xxl) {
        column-gap: 37px;
    }
    @include media($mxl) {
        column-gap: 40px;
    }
    @include media($lxl) {
        column-gap: 45px;
    }

    .watch-wrap {
        display: flex;
        align-items: center;
        column-gap: 7px;

        @include media($md) {
            column-gap: 8px;
        }

        .watch {
            background-color: blue;
            color: $orange2f;
        }
        h4 {
            font-weight: 600;
            font-size: 19px;

            @include media($sm) {
                font-size: 20px;
            }
            @include media($md) {
                font-size: 21px;
            }
            @include media($lg) {
                font-size: 22px;
            }
            @include media($xl) {
                font-size: 23px;
            }
            @include media($xxl) {
                font-size: 24px;
            }
            @include media($mxl) {
                font-size: 25px;
            }
            @include media($lxl) {
                font-size: 26px;
            }
        }
    }
}
