#main-wrap {
    // background-color: $purplefbd;
    background: rgb(200, 173, 246);
    background: rgb(200, 173, 246);
    background: linear-gradient(
        130deg,
        rgba(200, 173, 246, 1) 0%,
        rgba(137, 71, 243, 1) 33%,
        rgba(137, 71, 243, 1) 37%,
        rgba(137, 71, 243, 1) 45%,
        rgba(250, 150, 129, 1) 86%,
        rgba(255, 255, 255, 1) 100%
    );
    header {
        @include py(50px, 50px);
    }
}

.topber {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    .top-btn {
        display: none;

        @include media($md) {
            display: block;
        }
    }
    .show-btn {
        font-size: 19px;

        @include media($sm) {
            font-size: 21px;
        }
        @include media($md) {
            display: none;
        }
    }
}
.top-logo {
    display: flex;
    align-items: center;
    column-gap: 3px;

    @include media($xs) {
        column-gap: 4px;
    }

    img {
        width: 17px;
        height: 19px;

        @include media($sm) {
            height: 20px;
        }
        @include media($md) {
            height: 23px;
        }
        @include media($xl) {
            height: 24px;
        }
        @include media($xxl) {
            height: 27px;
            width: 19px;
        }
        @include media($mxl) {
            height: 32px;
            width: 22px;
        }
        @include media($lxl) {
            height: 34px;
            width: 25px;
        }
    }
    h2 {
        color: $orange2f;
    }
}
.menu {
    display: none;

    @include media($md) {
        display: block;
    }
    ul {
        display: flex;
        column-gap: 20px;

        @include media($lg) {
            column-gap: 30px;
        }
        @include media($xl) {
            column-gap: 40px;
        }
        @include media($xxl) {
            column-gap: 50px;
        }
        @include media($mxl) {
            column-gap: 80px;
        }
        @include media($lxl) {
            column-gap: 110px;
        }
    }
}

// Main section

main {
    text-align: center;

    @include media($md) {
        text-align: start;
    }

    h1 {
        font-size: 40px;
        display: flex;
        flex-flow: column wrap;
        font-weight: 700;
        line-height: 35px;

        @include media($sm) {
            font-size: 50px;
            line-height: 50px;
        }
        @include media($md) {
            font-size: 60px;
            line-height: 60px;
        }
        @include media($lg) {
            font-size: 65px;
            line-height: 65px;
        }
        @include media($xl) {
            font-size: 75px;
            line-height: 75px;
        }
        @include media($xxl) {
            font-size: 85px;
            line-height: 85px;
        }
        @include media($mxl) {
            font-size: 100px;
            line-height: 100px;
        }
        @include media($lxl) {
            font-size: 110px;
            line-height: 110px;
        }

        .eating {
            color: $orange2f;
        }
    }
    p {
        font-size: 19px;
        font-weight: 400;
        color: $purplefc;

        @include media($sm) {
            font-size: 22px;
        }
        @include media($md) {
            font-size: 17px;
        }
        @include media($lg) {
            font-size: 18px;
        }
        @include media($xl) {
            font-size: 23px;
        }
        @include media($xxl) {
            font-size: 24px;
        }
        @include media($mxl) {
            font-size: 25px;
        }
        @include media($lxl) {
            font-size: 26px;
        }
        @include media($md) {
            display: flex;
            flex-flow: column;
        }
    }
}

.bw-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 17px;

    @include media($md) {
        justify-content: start;
        column-gap: 30px;
    }
    @include media($lg) {
        column-gap: 35px;
    }
    @include media($xxl) {
        column-gap: 37px;
    }
    @include media($mxl) {
        column-gap: 40px;
    }
    @include media($lxl) {
        column-gap: 45px;
    }

    .watch-wrap {
        display: flex;
        align-items: center;
        column-gap: 7px;

        @include media($md) {
            column-gap: 8px;
        }

        .watch {
            background-color: blue;
            color: $orange2f;
        }
        h4 {
            font-weight: 600;
            font-size: 19px;

            @include media($sm) {
                font-size: 20px;
            }
            @include media($md) {
                font-size: 21px;
            }
            @include media($lg) {
                font-size: 22px;
            }
            @include media($xl) {
                font-size: 23px;
            }
            @include media($xxl) {
                font-size: 24px;
            }
            @include media($mxl) {
                font-size: 25px;
            }
            @include media($lxl) {
                font-size: 26px;
            }
        }
    }
}
