#our-value{
    margin-top: 40px;

    @include media($sm) {
        margin-top: 50px;
    }

    @include media($lg) {
        margin-top: 70px;
    }

    @include media($mxl) {
        margin-top: 110px;
    }
    .container{
        display: flex;
    flex-flow: column wrap;

    @include media($xl) {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    }

    .img{
        text-align: center;
        @include media($xl) {
            width: 50%;
        }

        img{
            width: 80%;

            @include media($xl) {
                width: 70%;
            }
        }
    }
    .content{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 45px;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 'card1'
                            'card2'
                            'card3' 
                            'card4'
                            'card5';

        @include media($sm) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: 'card1 card1'
                                'card2 card3'
                                'card4 card5';
            justify-content: space-around;
            column-gap: 25px;
        }
        @include media($lg) {
            row-gap: 35px;
            column-gap: 35px;
        }
        @include media($xl) {
            width: 50%;
            row-gap: 45px;
            column-gap: 30px;
        }
        
        .card{
            background-color: $purplefa;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            text-align: center;
            @include py(25px, 35px);
            row-gap: 7px;
            border-radius: 45px;

            @include media($xl) {
                align-items: start;
                text-align: start;
                padding-left: 25px;
            }
            @include media($mxl) {
                padding-left: 35px;
            }
            .s-icon{
                margin-top: -45px;

                @include media($mxl) {
                    margin-top: -50px;
                }
            }
            .common-h3{
                color: $purple99;
                margin-top: 14px;
            }
            p{
                color: $graya3;
                @include media($xl) {
                    margin-bottom: 10px;
                    align-items: start;
                }
            }
        }
        
        .card:nth-child(1) {
            grid-area: card1;
            background-color: initial;

            @include media($sm) {
                column-gap: 12px
            }
            @include media($xl) {
                row-gap: 18px;
                @include py(0px, 0px);
                margin-bottom: 20px;
            } 
            @include media($mxl) {
                row-gap: 22px;
                margin-bottom: 30px;
            }
            .head-wrap{
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                .l-icon{
                    width: 53px;
                    height: 54px;
                    background-image: linear-gradient(to bottom, #ae7de5, #8e67d3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 14px;
                    font-size: 27px;
                    color: #ffdf97;
    
                    @include media($lg) {
                        border-radius: 16px;
                        font-size: 30px;
                        width: 62px;
                        height: 63px;
                    }
                    @include media($mxl) {
                        width: 73px;
                        height: 75px;
                    }
                }

                h2{
                    color: $purple99;
                    font-size: 25px;

                    @include media($lg) {
                        font-size: 35px;
                    }
                    @include media($mxl) {
                        font-size: 50px;
                    }
                }
                @include media($xl) {
                    align-items: center;
                    flex-flow: row wrap;
                    column-gap: 20px;
                }
            }
            p{
                text-align: center;

                @include media($sm) {
                    display: flex;
                    flex-flow: column wrap;

                }
                span{
                    display: initial;
                }
            }
        }
        .card:nth-child(2) {
            grid-area: card2;
        }
        .card:nth-child(3) {
            grid-area: card3;
        }
        .card:nth-child(4) {
            grid-area: card4;
        }
        .card:nth-child(5) {
            grid-area: card5;
        }
    }
}