#foot-wrap{
    background-image: linear-gradient(to right, white, $purplefa,  white);
    margin-top: 40px;

    @include media($sm) {
        margin-top: 50px;
    }
    @include media($md) {
        margin-top: 60px;
    }
    @include media($lg) {
        margin-top: 70px;
    }
    @include media($xxl) {
        margin-top: 90px;
    }
    @include media($mxl) {
        margin-top: 110px;
    }
}
#contact{
    @include px(20px, 20px);

    @include media($sm) {
        @include px(30px, 30px);
    }
    @include media($lg) {
        @include px(40px, 40px);
    }
    @include media($xxl) {
        @include px(50px, 50px);
    }
    @include media($mxl) {
        @include px(60px, 60px);
    }
    @include media($lxl) {
        @include px(70px, 70px);
    }
}
.contact-wrap {
    ul{
        display: flex;
        row-gap: 7px;
        flex-flow: column wrap;
        margin-top: 7px;

        @include media($lg) {
            row-gap: 10px;
        }
        @include media($xxl) {
            row-gap: 12px;
        }
        @include media($mxl) {
            row-gap: 18px;
        }
        @include media($lxl) {
            row-gap: 20px;
        }

        li{
            a {
                color: $graya3;
            }
        }

        li:first-child{
            margin-bottom: 2px;

            @include media($md) {
                margin-bottom: 4px;
            }
            @include media($xxl) {
                margin-bottom: 6px;
            }
            @include media($lxl) {
                margin-bottom: 8px;
            }
            a{
                color: $purple99;
                font-weight: 700;
                font-size: 22px;

                @include media($sm) {
                    font-size: 23px;
                }
                @include media($md) {
                    font-size: 24px;
                }
                @include media($lg) {
                    font-size: 25px;
                }
                @include media($xl) {
                    font-size: 26px;
                }
                @include media($xxl) {
                    font-size: 27px;
                }
                @include media($mxl) {
                    font-size: 29px;
                }
                @include media($lxl) {
                    font-size: 30px;
                } 
            }
        }
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'left left'
                'about movement'
                'company support';
    grid-row-gap: 20px;

    @include media($md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 'left left about movement'
                            'company support . . ';
    }
    @include media($xl) {
        grid-template-columns: 4fr 2fr 2fr 2fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 'left about movement company support';
    }
}
.contact-left{
    grid-area: left;
    .top-logo {
        h2{
           color: $purplefbd; 
        }
    }
    p{
        color: $graya3;
        margin-top: 10px;

        @include media($sm) {
            margin-top: 15px;
        }
        @include media($xl) {
            margin-top: 20px;
            display: flex;
            flex-flow: column wrap;
        }
    }
}
.about{
    grid-area: about;
}
.movement{
    grid-area: movement;
}
.company{
    grid-area: company;
}
.support{
    grid-area: support;
}

