footer{

    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        @include py(15px, 15px);
        @include px(10px, 10px);

        @include media($xs) {
            @include py(10px, 10px);
            @include px(12px, 12px);
        }
        @include media($sm) {
            @include py(0px, 0px);
            @include px(15px, 15px);
        }
        @include media($md) {
            @include px(20px, 20px);
        } 
        @include media($lg) {
            @include px(25px, 25px);
        } 
        @include media($xl) {
            @include px(30px, 30px);
        } 
        @include media($xxl) {
            @include px(35px, 35px);
        } 
        @include media($mxl) {
            @include px(40px, 40px);
        } 
        @include media($lxl) {
            @include px(45px, 45px);
        } 
    }
}
.foot-right{
    a{
        color: $graya3;
    }
}
.foot-left{
    p{
        color: $graya3;
    }
}