#get-started{
    margin-top: 40px;

    @include media($sm) {
        margin-top: 50px;
    }
    @include media($md) {
        margin-top: 60px;
    }
    @include media($lg) {
        margin-top: 70px;
    }
    @include media($xxl) {
        margin-top: 90px;
    }
    @include media($mxl) {
        margin-top: 110px;
    }
    .content{
        @include px(30px, 30px);
        @include py(5px, 5px);
        @include my(5px, 5px);
        background-image: linear-gradient(to left top, $purplede, $purplefbd, #b389e3);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        outline: #f6eaf6 solid 10px;
        border-radius: 35px;

        @include media($sm) {
            @include my(7px, 7px);
            outline: #f6eaf6 solid 14px;
            border-radius: 45px;
            row-gap: 5px;
        }
        @include media($lg) {
            @include my(9px, 9px);
            outline: #f6eaf6 solid 18px;
            border-radius: 55px;
            @include px(40px, 40px);
            row-gap: 10px;
        }
        @include media($xl) {
            @include my(10px, 10px);
            outline: #f6eaf6 solid 20px;
            border-radius: 60px;
            @include px(50px, 50px);
            row-gap: 15px;
        }
        @include media($xxl) {
            @include my(12px, 12px);
            outline: #f6eaf6 solid 24px;
            border-radius: 65px;
            @include px(60px, 60px);
            row-gap: 20px;
        }
        @include media($mxl) {
            @include my(15px, 15px);
            outline: #f6eaf6 solid 30px;
            border-radius: 70px;
            @include px(80px, 80px);
            row-gap: px;
        }

        .l-btn{
            border: 3px solid $purplefc;
            background-color: $purple99;
        }
        h2{
            color: white;

            span{
                color: $orange2f;
            }
        }
        p{
            display: block;
            text-align: center;
            color: $purplefc;

            @include media($sm) {
                display: flex;
            }
        }
        .btn{
            margin-top: 10px;
            border: 3px solid $purplefc;
        }
    }
}