@mixin fonts($size, $weight, $line-height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}

@mixin py($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}
@mixin  px($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin mx($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin my($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

$screensize : (
    $xs : 400px,
    $sm : 540px,
    $md : 720px,
    $lg : 940px,
    $xl : 1140px,
    $xxl : 1320px,
    $mxl : 1550px,
    $lxl : 1650px,
);

@mixin media($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

.container{
    width: 100%;
    @include my(auto, auto);
}
@each $screen, $max in $screensize {
    .container {
        @include media($screen) {
            max-width: ($max);
        }
    }
}