$kanit:  'Kanit', sans-serif;

$xs : 425px;
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;
$xxl : 1400px;
$mxl : 1800px;
$lxl : 1920px;

$graya3: #9188a3;
$brown00: #7b5500;
$orange2f: #f9b62f;

